body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    box-sizing: border-box;
    display: flex;
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
    width: 490px;
    height: 60px;
    background-color: #D3D3D3;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
}

.numpad {
    display: flex;  
    margin-top: 10px;
    padding:20px;
    width: 450px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    background-color: #D4D4D4;
    border: 1px solid black;
}


.numpad button {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}


.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.operators button {
    width: 100px;
    height: 100px;
}

button {
    font-size: 25px;
    text-align: center;
}

.buttonSelect {
    background-color: black;
    color: white;
}